* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-areas:
    "header header header"
    "innehåll innehåll sidebar"
    "output output sidebar";
  grid-template-columns: repeat(3, 30%);
  /* Storlek på alla rows */
  grid-template-rows: repeat(4, auto);
  gap: 1rem;
  position: relative;
  background-color: #f0dbd2;
}

#ground,
#scaffold,
#legs,
#arms,
#body,
#head {
  display: none;
}

header {
  padding-top: 1rem;
  width: 100vw;
  display: flex;
  justify-content: center;
}

#svgContainer {
  grid-area: innehåll;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 1rem;
  border-radius: 1rem;
  background: #e0b8a6;
}

#wrongGuesses {
  background: #e0b8a6;
  grid-area: sidebar;
  display: flex;
  flex-wrap: wrap;
  border-radius: 1rem;
  padding: 1rem;
  flex-direction: column;
}

#wordToGuess {
  grid-area: output;
  display: flex;
  justify-content: center;
  align-items: center;
  border: black 10px;
  gap: 1rem;
  background: #e0b8a6;
  border-radius: 1rem;
  margin-left: 1rem;
}

.wordBox {
  width: 5rem;
  border-bottom-style: solid;
}

.wrongTitle {
}

#wrongLetterContainer {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
}
.wrongLetterUnit {
  margin: 0.5rem;
}
h2 {
  margin-top: 5px;
}

.winWindow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  background-color: #d38e6e;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.buttons {
  appearance: button;
  background-color: transparent;
  background-image: linear-gradient(to bottom, #fff, #f8eedb);
  border: 0 solid #e5e7eb;
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #482307;
  column-gap: 1rem;
  cursor: pointer;
  display: flex;
  font-family: ui-sans-serif, system-ui, -apple-system, system-ui, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 100%;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
  outline: 2px solid transparent;
  padding: 1rem 1.5rem;
  text-align: center;
  text-transform: none;
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  box-shadow: -6px 8px 10px rgba(81, 41, 10, 0.1),
    0px 2px 2px rgba(81, 41, 10, 0.2);
}

.button-83:active {
  background-color: #f3f4f6;
  box-shadow: -1px 2px 5px rgba(81, 41, 10, 0.15),
    0px 1px 1px rgba(81, 41, 10, 0.15);
  transform: translateY(0.125rem);
}

.button-83:focus {
  box-shadow: rgba(72, 35, 7, 0.46) 0 0 0 4px,
    -6px 8px 10px rgba(81, 41, 10, 0.1), 0px 2px 2px rgba(81, 41, 10, 0.2);
}
