@font-face {
  font-family: darkSoulsFont;
  src: url(OptimusPrinceps.ttf);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-areas:
    "header header header"
    "innehåll innehåll sidebar"
    "output output sidebar";
  grid-template-columns: repeat(3, 30%);
  /* Storlek på alla rows */
  grid-template-rows: repeat(4, auto);
  gap: 1rem;
  position: relative;
  background-image: url(dark-souls-type-background-texture-for-ui-use-upscaled.png);
}

#ground,
#scaffold,
#legs,
#arms,
#body,
#head {
  display: none;
}

header {
  padding-top: 1rem;
  width: 100vw;
  display: flex;
  justify-content: center;
}

#svgContainer {
  grid-area: innehåll;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 1rem;
  border-radius: 1rem;
  /* background: #e0b8a6; */
}

#wrongGuesses {
  /* background: #e0b8a6; */
  grid-area: sidebar;
  display: flex;
  flex-wrap: wrap;
  border-radius: 1rem;
  padding: 1rem;
  flex-direction: column;
}

#wordToGuess {
  grid-area: output;
  display: flex;
  justify-content: center;
  align-items: center;
  border: black 10px;
  gap: 1rem;
  /* background: #e0b8a6; */
  border-radius: 1rem;
  margin-left: 1rem;
  padding: 1rem;
}

.wordBox {
  display: flex;
  justify-content: center;
  width: 5rem;
  border-bottom-style: solid;
  border-bottom-color: white;
}

.wrongTitle {
}

#wrongLetterContainer {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
}
.wrongLetterUnit {
  margin: 0.5rem;
}

h1,
h2,
h3,
p {
  color: rgb(192, 190, 190);
  letter-spacing: 0.5rem;
  font-family: darkSoulsFont;
  text-decoration: line-through;
  text-decoration-thickness: 3px;
  text-decoration-color: rgba(0, 0, 0, 0.295);
}

.winWindow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  background-color: #d38e6e;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.buttons {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1a1a1a;
  border-radius: 15px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.button-27:disabled {
  pointer-events: none;
}

.button-27:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-27:active {
  box-shadow: none;
  transform: translateY(0);
}
